<!DOCTYPE html>
<html lang="en">
<head>
  <title>CloudLogr</title>
  <style>
    body {
      background-image: url("http://www.3-dlinelocating.com/wp-content/uploads/2016/02/Tank-Farm-Photo.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      text-align: center;
    }
    table, th, td {
        border: 2px solid black;
        padding: 4px;
        text-align: center;
        background: #efefef;
        margin: 0 auto;
    }
    button.button_poll {
      position: relative;
      top: 50px;
      left: -253px;
    }
  </style>
</head>
<body>
  <h1>Welcome to CloudLogr</h1>
  <!-- <button class="button_poll" type="">Poll: <%= schedule.dataPollRate %>ms</button> -->
  <table class="tank_table">
    <caption><h3><%= schedule.dataTagname %></h3></caption>
    <thead>
      <tr>
        <th colspan="" rowspan="" headers="" scope="">Value</th>
        <th colspan="" rowspan="" headers="" scope="">Timestamp</th>
        <th colspan="" rowspan="" headers="" scope="">Read Status</th>
        <th colspan="" rowspan="" headers="" scope="">Error Message</th>
      </tr>
    </thead>
    <tbody>
      <% schedule.data = schedule.data.reverse(); %><!--want newest first to rendering table-->
      <% schedule.data.slice(0,10).forEach(function(dataEntry){ %> <!-- build the table from 10 most recent entries data -->
       <tr>
        <td colspan="" rowspan="" headers=""><%= dataEntry.value %></td>
        <td colspan="" rowspan="" headers=""><%= dataEntry.timestamp %></td>
        <td colspan="" rowspan="" headers=""><%= dataEntry.status ? 'good' : dataEntry.statusCode %></td>
        <td colspan="" rowspan="" headers=""><%= dataEntry.eWONMessage %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <!-- for socket io -->

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.js"></script>

  <script src="/socket.io/socket.io.js"></script>

  <script>
    var socket = io();
    socket.on('connect', function() {
    console.log('Connected on front end.');
});
  </script>
</body>
</html>
