<!DOCTYPE html>
<html lang="en">
<head>

  <title>CloudLogr</title>
  <style>
    body {
      background-image: url("./images/tank_farm.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      text-align: center;
    }
    table, th, td {
        border: 2px solid black;
        padding: 4px;
        text-align: center;
        background: #efefef;
        margin: 0 auto;
    }
    button.button_poll {
      position: relative;
      top: 50px;
      left: -253px;
    }
  </style>
<body>
  <h1>CloudLogr</h1>
  <!-- <button class="button_poll" type="">Poll: <%= schedule.dataPollRate %>ms</button> -->
  <table class="tank_table">
    <caption><h3><%= schedule.dataTagname %></h3></caption>
    <thead>
      <tr>
        <th colspan="" rowspan="" headers="" scope="">Value</th>
        <th colspan="" rowspan="" headers="" scope="">Timestamp</th>
        <th colspan="" rowspan="" headers="" scope="">Read Status</th>
        <th colspan="" rowspan="" headers="" scope="">Error Message</th>
      </tr>
    </thead>
    <tbody>
      <% schedule.data = schedule.data.reverse(); %><!--want newest first to rendering table-->
      <% schedule.data.slice(0,10).forEach(function(dataEntry){ %> <!-- build the table from 10 most recent entries data -->
        <tr>
          <td ><%= dataEntry.value %></td>
          <td id="td_date"><%= dataEntry.timestamp %></td>
          <td ><%= dataEntry.status ? 'good' : dataEntry.statusCode %></td>
          <td ><%= dataEntry.eWONMessage %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <span>Poll Rate: </span>
  <span id="data_poll_rate"><%= schedule.dataPollRate/1000 %></span>
  <span> seconds</span><br>
  <span>Polling State: </span>
  <span id="data_polling_state"><%= schedule.dataPollingState ? 'Active' : 'Inactive' %></span><br>
  <div class="table_buttons">
    <form action="/api/v2/oneReading" method="get" accept-charset="utf-8">
      <input type="hidden">
      <input type="submit" value="One Reading">
    </form>
    <button type="button" onclick="pollDBData()">Start Polling</button>
    </form>
    <form action="/api/v2/stopPolling" method="post" accept-charset="utf-8">
      <input type="hidden">
      <input type="submit" value="Stop Polling">
    </form>
    <form action="/api/v2/changePollRate" method="post" accept-charset="utf-8">
      Poll Rate (s):
      <input type="text" name="newDataPollRate" value="5 - 60" onFocus="clearText(this)">
      <input type="submit" value="Submit">
    </form>
  </div>
  <!-- for socket io -->

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.js"></script>

  <script src="/socket.io/socket.io.js"></script>

  <script>
    var socket = io();
    socket.on('connect', function() {
    console.log('Connected on front end.');
});
  </script>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="/scripts/tank.js" type="text/javascript" charset="utf-8" async defer></script>
</head>
</body>
</html>
